* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.header {
    background: #222222;
    padding: 18px 0;

    &__right {
        display: flex;
        align-items: flex-end;
    }

    &__left {
        display: flex;
        align-items: flex-end;
    }

    &__icon__left {
        padding: 0 41px 0 0;
    }

    &__icon__right:not(:last-child) {
        padding: 0 33px 0 0;
    }
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__intro {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        background-image: url(img/intro_image.png);
        background-repeat: no-repeat;
        background-position: -228px bottom;
    }

    &__preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__advantage {
        display: flex;
        flex-wrap: wrap;
        min-height: 341px;
        align-items: center;
    }

    &__footer {
        height: 448px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 79px;
        }
    }

    &__intro_catalog {
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__filters {
        display: flex;
        align-items: center;
    }

    &__items {
        display: flex;
        justify-content: center;

        &__woman {
            padding-bottom: 41px;
        }
    }

    &__description {
        border: 1px solid #eaeaea;
        min-height: 601px;
        background: #ffffff;
        margin-top: -65px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 128px;
    }

    &__cart {
        display: flex;
        flex-wrap: wrap;
    }

    &__registration {
        display: flex;
    }
}

.intro {
    background: #f1e4e6;

    &__index {
        height: 764px;
        background: #f1e4e6;
    }

    &__text {
        padding-right: 97px;
        padding-left: 16px;
        border-left: 12px solid #f16d7f;
        font-size: 32px;
        line-height: 38px;
    }

    &__decor_red {
        color: #f16d7f;
        font-size: 32px;
        line-height: 38px;
    }

    &__decor_black {
        font-size: 48px;
        line-height: 58px;
    }

    &__catalog {
        background: #f1e4e6;
        min-height: 148px;

        &__text {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }

        &__bread_crumbs {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }

        &__bread_crumbs:visited {
            color: #f16d7f;
            font-weight: bold;
        }
    }
}

.filters {
    &__filter {
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-right: 390px;
        padding-bottom: 64px;
        padding-top: 51px;

        content::marker {
            display: none;
        }

        &__content {
            box-sizing: border-box;
            position: absolute;
            outline: none;
            border: none;
            width: 360px;
        }

        &__content[open] {
            width: 360px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }

        &__content[open] > summary {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #ef5b70;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-top: 13px;
        }

        &__content[open] > svg {
            fill: #ef5b70;
        }

        &__category {
            position: absolute;
            background-color: #ffffff;
            width: 360px;
            z-index: 1;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.21);
            font-size: 14px;
            line-height: 17px;

            ul {
                list-style-type: none;
                padding-bottom: 13px;
            }

            li {
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                padding-top: 11px;
                padding-bottom: 11px;
                padding-left: 34px;
            }

            summary {
                border-left: 5px solid #ef5b70;
                border-bottom: 1px solid #ebebeb;
                height: 37px;
                display: flex;
                align-items: center;
                padding-left: 11px;
            }

            details {
                width: 327px;
                padding-left: 17px;
                padding-bottom: 18px;
            }
        }

        &__category [open] {
            font-size: 14px;
            line-height: 17px;
            color: #ef5b70;
        }
    }

    &__catalog {
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
    }

    &__text:not(:first-child) {
        padding-right: 10px;
        padding-left: 28px;
    }

    &__text:first-child {
        padding-right: 10px;
    }

    &__text__product:not(:first-child) {
        padding-right: 9px;
        padding-left: 22px;
    }

    &__text__product:first-child {
        padding-right: 9px;
    }

    &__product {
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
        padding-top: 64px;
        padding-bottom: 48px;
    }
}

.preview {
    &__image:not(:last-child) {
        padding-top: 65px;
        padding-bottom: 30px;
        width: 360px;
        height: 260px;
    }

    &__image:last-child {
        width: 1140px;
        height: 180px;
    }

    &__woman {
        background-image: url(img/for_woman.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__man {
        background-image: url(img/for_men.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__kids {
        background-image: url(img/for_kids.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__accesories {
        background-image: url(img/accesories.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-align: center;

        &__pink {
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }
    }
}

.products {
    &__heading {
        display: grid;
        justify-content: center;

        &__item {
            font-size: 30px;
            line-height: 36px;
            color: #222222;
            justify-content: center;
            display: flex;
            padding-top: 96px;
            padding-bottom: 6px;
        }
    }

    &__card {
        background: #f8f8f8;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        transition: 0.5s;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(58, 56, 56, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
        height: 420px;
        width: 360px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        text-decoration: none;
    }

    &__overlay:hover {
        opacity: 1;
    }

    &__basket {
        padding-right: 11px;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        padding-bottom: 48px;
    }

    &__card__text {
        width: 314px;
        padding-left: 16px;

        &__heading {
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            padding-top: 25px;
            padding-bottom: 12px;
        }

        &__paragraph {
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
            padding-bottom: 18px;
        }

        &__price {
            font-size: 16px;
            line-height: 19px;
            color: #f16d7f;
            padding-bottom: 20px;
        }
    }

    &__pagination {
        padding-left: 430px;
        padding-top: 18px;
        padding-bottom: 96px;
    }
}

.link {
    text-decoration: none;

    &__products {
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        padding: 15px 40px;
        background: white;
        border-color: #f26376;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 18px;
        margin-bottom: 95px;
        border: solid;
    }

    &__product {
        padding-bottom: 64px;

        &_text {
            font-size: 16px;
            line-height: 19px;
            color: #f26376;
            padding: 15px 57px 15px 73px;
            border: 1px solid #f26376;
            text-decoration: none;
        }

        &_text:hover {
            background: #f26376;
            color: #ffffff;
        }

        &_cart {
            margin-left: -74px;
            margin-right: -140px;
            margin-bottom: -19px;
            margin-top: -10px;
            fill: #f26376;
            border: 1px solid #f26376;
            padding-left: 24px;
            padding-right: 169px;
            padding-top: 10px;
            padding-bottom: 12px;
        }

        &_cart:hover {
            background: #f26376;
            fill: #ffffff;
        }
    }

    &__icons {
        &__f {
            padding: 8px 12px;
            background: #ffffff;
            height: 16px;
            width: 10px;
        }
        &__f:hover {
            background: #f16d7f;
            fill: #ffffff;
        }

        &__i {
            padding: 8px 6px;
            background: #ffffff;
            height: 16px;
            width: 20px;
        }
        &__i:hover {
            background: #f16d7f;
            fill: #ffffff;
        }

        &__p {
            padding: 8px 10px;
            background: #ffffff;
            height: 16px;
            width: 12px;
        }
        &__p:hover {
            background: #f16d7f;
            fill: #ffffff;
        }

        &__t {
            padding: 8px 8px;
            background: #ffffff;
            height: 16px;
            width: 15px;
        }
        &__t:hover {
            background: #f16d7f;
            fill: #ffffff;
        }

        &__vector {
            background: rgba(42, 42, 42, 0.15);
            padding: 8px;
            height: 31px;
            width: 31px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: #000000;
        }

        &__vector:hover {
            fill: #f16d7f;
        }
    }
}

.link:hover {
    color: #f16d7f;
}

.advantage {
    background: #222224;
    min-height: 341px;

    &__image {
        width: 360px;
        height: 134px;
        text-align: center;

        &__img {
            height: 40px;
            width: 40px;
            padding-bottom: 19px;
        }
    }

    &__text {
        line-height: 17px;
        text-align: center;
        font-size: 13.972px;
        color: #fbfbfb;

        &__heading {
            font-size: 19.96px;
            line-height: 24px;
            color: #fbfbfb;
            padding-bottom: 16px;
        }
    }
}

.footer {
    background: url(img/photo_subscribe.png);
    background-size: 100%;
    background-repeat: no-repeat;

    &__top {
    }

    &__image {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;

        &__text {
            width: 359px;
            padding-top: 30px;
        }
    }

    &__subscribe {
        &__text {
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
            padding-bottom: 32px;

            &__heading {
                font-size: 24px;
                line-height: 167.2%;
                text-align: center;
                color: #222224;
            }
        }
    }

    &__bottom {
        background: #222224;

        &__text {
            font-size: 16px;
            line-height: 19px;
            color: #fbfbfb;
        }
    }
}

.button {
    border: none;

    &__subscribe {
        display: flex;
        &-field {
            border: none;
            background: #e1e1e1;
            padding: 20px;
            padding-right: 65px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            &:focus {
                background: grey;
                border: none;
                outline: none;
            }
        }

        &-btn {
            border: none;
            background-color: #f16d7f;
            color: #fff;
            padding: 20px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
}

.items {
    background: #f7f7f7;
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
}

.description {
    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4d4d4d;
        padding-top: 12px;
        padding-bottom: 48px;

        &_pink {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #f16d7f;
            padding-bottom: 12px;
            padding-top: 64px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5e5e5e;
        width: 555px;
        padding-bottom: 32px;
    }

    &__price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #ef5b70;
        padding-bottom: 64px;
    }

    &__trait {
        min-width: 641px;
        border: 1px solid #eaeaea;

        &_pink {
            height: 3px;
            min-width: 63px;
            background: #ef5b70;
        }
    }
}

.cart {
    &__price {
        font-size: 22px;
        line-height: 26px;
        color: #ef5b70;
    }

    &__quantity {
        border: 1px solid #eaeaea;
        margin-left: 24px;
        padding: 2px 15px;
    }

    &__form {
        padding-left: 129px;
        width: 360px;

        &__sub_total {
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
            padding-right: 34px;
            padding-top: 39px;
            padding-bottom: 12px;
        }

        &__grand_total {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding-bottom: 31px;
            padding-right: 37px;
        }

        &__get_a_quote {
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
            padding: 10px 14px 12px 15px;
            border: 1px solid #a4a4a4;
            background: #ffffff;
            margin-bottom: 47px;
        }

        &__proceed {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            padding-top: 15px;
            padding-bottom: 16px;
            padding-right: 43px;
            padding-left: 41px;
            background: #f16d7f;
            border: none;
            margin-bottom: 42px;
            margin-top: 17px;
        }

        span {
            color: #f16d7f;
        }

        h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding-top: 113px;
            padding-bottom: 20px;
        }

        input {
            border: 1px solid #a4a4a4;
            width: 360px;
            height: 44px;
            padding-left: 16px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #222222;
        }

        input:focus {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #b1b1b1;
        }

        ul {
            list-style: none;
        }

        li {
            padding-bottom: 20px;
        }

        div {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            width: 360px;
        }

        hr {
            width: 275px;
        }

        article {
            background: #f5f3f3;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 360px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        button {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            padding: 17px 40px;
            background: #ffffff;
            border: 1px solid #a4a4a4;
            margin-top: 30px;
            margin-bottom: 128px;
        }
    }

    .cart__cards {
        width: 625px;
        padding-top: 96px;

        figure {
            display: flex;
            flex-direction: initial;
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
            padding-bottom: 40px;
        }

        figcaption {
            width: 262px;
        }

        img {
            width: 262px;
            height: 306px;
            padding-right: 31px;
        }

        h4 {
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            padding-top: 22px;
            padding-bottom: 42px;
        }

        ul {
            list-style-type: none;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }

        li {
            padding-bottom: 6px;
        }

        svg {
            padding-top: 26px;
            padding-left: 57px;
            padding-right: 22px;
        }
    }
}

.registration {
    ul {
        list-style-type: none;
    }

    &__form {
        &__text {
            border: 1px solid #a4a4a4;
            width: 360px;
            height: 44px;
            padding-left: 16px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #222222;
        }

        h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        &__name {
            padding-top: 64px;
            padding-bottom: 20px;
        }

        &__details {
            padding-top: 35px;
            padding-bottom: 20px;
        }

        &__gender {
            border: none;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
            padding-top: 34px;
            display: flex;
            align-items: center;

            input {
                margin-right: 10px;
            }

            input:nth-child(2) {
                margin-left: 20px;
            }
        }

        &__join {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            padding: 17px 29px;
            background: #f16d7f;
            border: none;
            margin-bottom: 96px;
        }

        p {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #b1b1b1;
            padding-top: 15px;
            padding-bottom: 39px;
            width: 360px;
        }

        li:not(:last-child) {
            padding-bottom: 21px;
        }
    }

    &__info {
        padding-left: 128px;

        h4 {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding-top: 64px;
            padding-bottom: 32px;
        }

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding-bottom: 21px;
        }

        li {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding-bottom: 16px;
        }

        svg {
            padding-right: 22px;
        }
    }
}
