* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.header {
    background: #222222;
    padding: 18px 0;

    &__right {
        display: flex;
        align-items: flex-end;
    }

    &__left {
        display: flex;
        align-items: flex-end;
    }

    &__icon__left {
        padding: 0 41px 0 0;
    }

    &__icon__right:not(:last-child) {
        padding: 0 33px 0 0;
    }
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__intro {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        background-image: url(img/intro_image.png);
        background-repeat: no-repeat;
        background-position: -228px bottom;
    }

    &__preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__advantage {
        display: flex;
        flex-wrap: wrap;
        min-height: 341px;
        align-items: center;
    }

    &__footer {
        height: 448px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 79px;
        }
    }

    &__intro_catalog {
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__filters {
        display: flex;
        align-items: center;
    }
}

.intro {
    background: #f1e4e6;
    height: 764px;

    &__text {
        padding-right: 97px;
        padding-left: 16px;
        border-left: 12px solid #f16d7f;
        line-height: 38px;
        font-size: 32px;
    }

    &__decor_red {
        color: #f16d7f;
        font-size: 32px;
        line-height: 38px;
    }

    &__decor_black {
        font-size: 48px;
        line-height: 58px;
    }

    &__catalog {
        background: #f1e4e6;
        min-height: 148px;

        &__text {
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }

        &__bread_crumbs {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }

        &__bread_crumbs:visited {
            color: #f16d7f;
            font-weight: bold;
        }
    }
}

.filters {
    &__filter {
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-right: 304px;
        padding-bottom: 64px;
        padding-top: 51px;
    }

    &__size {
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;

    }

    &__text:not(:first-child) {
        padding-right: 10px;
        padding-left: 28px;
    }

.preview {
    &__image:not(:last-child) {
        padding-top: 65px;
        padding-bottom: 30px;
        width: 360px;
        height: 260px;
    }

    &__image:last-child {
        width: 1140px;
        height: 180px;
    }

    &__woman {
        background-image: url(img/for_woman.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__man {
        background-image: url(img/for_men.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__kids {
        background-image: url(img/for_kids.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__accesories {
        background-image: url(img/accesories.png);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-align: center;

        &__pink {
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }
    }
}

.products {
    &__heading {
        display: grid;
        justify-content: center;

        &__item {
            font-size: 30px;
            line-height: 36px;
            color: #222222;
            justify-content: center;
            display: flex;
            padding-top: 96px;
            padding-bottom: 6px;
        }
    }

    &__card {
        background: #f8f8f8;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        padding-bottom: 48px;
    }

    &__card__text {
        width: 314px;
        padding-left: 16px;

        &__heading {
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            padding-top: 25px;
            padding-bottom: 12px;
        }

        &__paragraph {
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
            padding-bottom: 18px;
        }

        &__price {
            font-size: 16px;
            line-height: 19px;
            color: #f16d7f;
            padding-bottom: 20px;
        }
    }
}

.link {
    text-decoration: none;

    &__products {
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        padding: 15px 40px;
        background: white;
        border-color: #f26376;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 18px;
        margin-bottom: 95px;
        border: solid;
    }

    &__icons {
        &__f {
            padding: 8px 12px;
            background: #ffffff;
            height: 15px;
            width: 10px;
        }
        &__f:hover {
            background: #f16d7f;
            color: #ffffff;
        }

        &__i {
            padding: 8px 9px;
            background: #ffffff;
            height: 16px;
            width: 10px;
        }
        &__i:hover {
            background: #f16d7f;
            color: #ffffff;
        }

        &__p {
            padding: 8px 10px;
            background: #ffffff;
            height: 16px;
            width: 12px;
        }
        &__p:hover {
            background: #f16d7f;
            color: #ffffff;
        }

        &__t {
            padding: 8px 8px;
            background: #ffffff;
            height: 16px;
            width: 15px;
        }
        &__t:hover {
            background: #f16d7f;
            color: #ffffff;
        }
    }
}

.link:hover {
    color: #f16d7f;
}

.advantage {
    background: #222224;
    min-height: 341px;

    &__image {
        width: 360px;
        height: 134px;
        text-align: center;

        &__img {
            height: 40px;
            width: 40px;
            padding-bottom: 19px;
        }
    }

    &__text {
        line-height: 17px;
        text-align: center;
        font-size: 13.972px;
        color: #fbfbfb;

        &__heading {
            font-size: 19.96px;
            line-height: 24px;
            color: #fbfbfb;
            padding-bottom: 16px;
        }
    }
}

.footer {
    background: url(img/photo_subscribe.png);
    background-size: 100%;
    background-repeat: no-repeat;

    &__top {
    }

    &__image {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;

        &__text {
            width: 359px;
            padding-top: 30px;
        }
    }

    &__subscribe {
        &__text {
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
            padding-bottom: 32px;

            &__heading {
                font-size: 24px;
                line-height: 167.2%;
                text-align: center;
                color: #222224;
            }
        }
    }

    &__bottom {
        background: #222224;

        &__text {
            font-size: 16px;
            line-height: 19px;
            color: #fbfbfb;
        }
    }
}

.button {
    border: none;

    &__subscribe {
        display: flex;
        &-field {
            border: none;
            background: #e1e1e1;
            padding: 20px;
            padding-right: 65px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            &:focus {
                background: grey;
                border: none;
                outline: none;
            }
        }

        &-btn {
            border: none;
            background-color: #f16d7f;
            color: #fff;
            padding: 20px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
}